.*
!.github/
!.opencode/
*.stl
*.rsls
*.bak
old
BIT_*.scad
*.test.scad
*.code-workspace
launch.json
gh-md-toc
*_Conflict*
tests/renders/

# v2 legacy files
boardgame_insert_toolkit_lib.2.scad
examples.2.scad
changenotes.2.0.txt
example_mmu.scad
